[class^="button"]
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 3px
    text-align: center
    +inter
    +button
    color: $n1
    margin: 2px
    transition: margin 0.2s
    &:after
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 0
        width: 100%
        border-width: 2px
        border-style: solid
        border-color: $c1
        border-radius: 4.5px
        transition: 0.2s
        transform: skewX(-20deg)
        background: $c1
    &:hover
        margin: 0
        &:after
            background: $c1s2
        span
            padding: 2px 7px 2px 8px
            color: white
    span
        position: relative
        z-index: 1
        display: block
        width: 100%
        padding: 0 5px 0 6px
        line-height: 12px
        letter-spacing: .06em
        transition: 0.2s
        color: black
